
*.log
quick-test
test
tmp
temp
tmp.*
temp.*
*.tmp
*.temp
*.sh
*.tern-project*
*.editorconfig*
*.eslintrc*
*.spec.js
*.test.js
*.check.js
.git*
/.travis.yml
/appveyor.yml
/circle.yml
/sh
/jest
/check
/coverage
docs
__spec__
__test__
